{extend name="common@web/share/layout"}

{block name="title"}
活动列表
{/block}

{block name="content"}
	<div class="h12"></div>
	<!-- 主体内容 -->
	<div class="act_con">
		<div class="act_main">
			<div class="act_left">
				<!-- 视频 -->
				<div class="vdo_con">
					<a class="vdo"></a>
					<video width="100%" height="100%">
		
					</video>
				</div>
				<!--正在直播-->
				<div class="act_vdolist">
					<div class="act_vdotop">
						<p class="vdotit">正在直播</p>
						<div class="act_rtop">
							<a href="">换一批</a>
							<a href="">了解更多</a>
						</div>
					</div>
					<div class="act_vdoul">
						<ul>
							<li>
								<a href="">
									<div class="vdoimg">
										<img src="/static/images/phone/act_img1.png"/>
										<p class="vdo_btn"></p>
										<div class="vdo_nums">0.00万</div>
									</div>
									<div class="vdo_bot">
										<div class="vdo_bl">
											<img src="/static/images/phone/act_img2.png"/>
										</div>
										<div class="vdo_br">
											<p class="textover p1">即将直播</p>
											<p class="textover p2">即将直播房间</p>
											<p class="textover p3">节能环保</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="vdoimg">
										<img src="/static/images/phone/act_img1.png"/>
										<p class="vdo_btn"></p>
										<div class="vdo_nums">0.00万</div>
									</div>
									<div class="vdo_bot">
										<div class="vdo_bl">
											<img src="/static/images/phone/act_img2.png"/>
										</div>
										<div class="vdo_br">
											<p class="textover p1">即将直播</p>
											<p class="textover p2">即将直播房间</p>
											<p class="textover p3">节能环保</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="vdoimg">
										<img src="/static/images/phone/act_img1.png"/>
										<p class="vdo_btn"></p>
										<div class="vdo_nums">0.00万</div>
									</div>
									<div class="vdo_bot">
										<div class="vdo_bl">
											<img src="/static/images/phone/act_img2.png"/>
										</div>
										<div class="vdo_br">
											<p class="textover p1">即将直播</p>
											<p class="textover p2">即将直播房间</p>
											<p class="textover p3">节能环保</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="vdoimg">
										<img src="/static/images/phone/act_img1.png"/>
										<p class="vdo_btn"></p>
										<div class="vdo_nums">0.00万</div>
									</div>
									<div class="vdo_bot">
										<div class="vdo_bl">
											<img src="/static/images/phone/act_img2.png"/>
										</div>
										<div class="vdo_br">
											<p class="textover p1">即将直播</p>
											<p class="textover p2">即将直播房间</p>
											<p class="textover p3">节能环保</p>
										</div>
									</div>
								</a>
							</li>							
							<li>
								<a href="">
									<div class="vdoimg">
										<img src="/static/images/phone/act_img1.png"/>
										<p class="vdo_btn"></p>
										<div class="vdo_nums">0.00万</div>
									</div>
									<div class="vdo_bot">
										<div class="vdo_bl">
											<img src="/static/images/phone/act_img2.png"/>
										</div>
										<div class="vdo_br">
											<p class="textover p1">即将直播</p>
											<p class="textover p2">即将直播房间</p>
											<p class="textover p3">节能环保</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="vdoimg">
										<img src="/static/images/phone/act_img1.png"/>
										<p class="vdo_btn"></p>
										<div class="vdo_nums">0.00万</div>
									</div>
									<div class="vdo_bot">
										<div class="vdo_bl">
											<img src="/static/images/phone/act_img2.png"/>
										</div>
										<div class="vdo_br">
											<p class="textover p1">即将直播</p>
											<p class="textover p2">即将直播房间</p>
											<p class="textover p3">节能环保</p>
										</div>
									</div>
								</a>
							</li>							
						</ul>
					</div>
				</div>
				<!--即将直播-->
				<div class="act_vdolist">
					<div class="act_vdotop">
						<p class="vdotit">即将直播</p>
						<div class="act_rtop">
							<a href="">换一批</a>
							<a href="">了解更多</a>
						</div>
					</div>
					<div class="act_vdoul">
						<ul>
							<li>
								<a href="">
									<div class="vdoimg">
										<img src="/static/images/phone/act_img1.png"/>
										<p class="vdo_btn"></p>
										<div class="vdo_nums">0.00万</div>
									</div>
									<div class="vdo_bot">
										<div class="vdo_bl">
											<img src="/static/images/phone/act_img2.png"/>
										</div>
										<div class="vdo_br">
											<p class="textover p1">即将直播</p>
											<p class="textover p2">即将直播房间</p>
											<p class="textover p3">节能环保</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="vdoimg">
										<img src="/static/images/phone/act_img1.png"/>
										<p class="vdo_btn"></p>
										<div class="vdo_nums">0.00万</div>
									</div>
									<div class="vdo_bot">
										<div class="vdo_bl">
											<img src="/static/images/phone/act_img2.png"/>
										</div>
										<div class="vdo_br">
											<p class="textover p1">即将直播</p>
											<p class="textover p2">即将直播房间</p>
											<p class="textover p3">节能环保</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="vdoimg">
										<img src="/static/images/phone/act_img1.png"/>
										<p class="vdo_btn"></p>
										<div class="vdo_nums">0.00万</div>
									</div>
									<div class="vdo_bot">
										<div class="vdo_bl">
											<img src="/static/images/phone/act_img2.png"/>
										</div>
										<div class="vdo_br">
											<p class="textover p1">即将直播</p>
											<p class="textover p2">即将直播房间</p>
											<p class="textover p3">节能环保</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="vdoimg">
										<img src="/static/images/phone/act_img1.png"/>
										<p class="vdo_btn"></p>
										<div class="vdo_nums">0.00万</div>
									</div>
									<div class="vdo_bot">
										<div class="vdo_bl">
											<img src="/static/images/phone/act_img2.png"/>
										</div>
										<div class="vdo_br">
											<p class="textover p1">即将直播</p>
											<p class="textover p2">即将直播房间</p>
											<p class="textover p3">节能环保</p>
										</div>
									</div>
								</a>
							</li>							
							<li>
								<a href="">
									<div class="vdoimg">
										<img src="/static/images/phone/act_img1.png"/>
										<p class="vdo_btn"></p>
										<div class="vdo_nums">0.00万</div>
									</div>
									<div class="vdo_bot">
										<div class="vdo_bl">
											<img src="/static/images/phone/act_img2.png"/>
										</div>
										<div class="vdo_br">
											<p class="textover p1">即将直播</p>
											<p class="textover p2">即将直播房间</p>
											<p class="textover p3">节能环保</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="vdoimg">
										<img src="/static/images/phone/act_img1.png"/>
										<p class="vdo_btn"></p>
										<div class="vdo_nums">0.00万</div>
									</div>
									<div class="vdo_bot">
										<div class="vdo_bl">
											<img src="/static/images/phone/act_img2.png"/>
										</div>
										<div class="vdo_br">
											<p class="textover p1">即将直播</p>
											<p class="textover p2">即将直播房间</p>
											<p class="textover p3">节能环保</p>
										</div>
									</div>
								</a>
							</li>							
						</ul>
					</div>
				</div>	
				<!--视频回看-->
				<div class="act_vdolist">
					<div class="act_vdotop">
						<p class="vdotit">视频回看</p>
						<div class="act_rtop">
							<a href="">换一批</a>
							<a href="">了解更多</a>
						</div>
					</div>
					<div class="act_vdoul">
						<ul>
							<li>
								<a href="">
									<div class="vdoimg">
										<img src="/static/images/phone/act_img1.png"/>
										<p class="vdo_btn"></p>
										<div class="vdo_nums">0.00万</div>
									</div>
									<div class="vdo_bot">
										<div class="vdo_bl">
											<img src="/static/images/phone/act_img2.png"/>
										</div>
										<div class="vdo_br">
											<p class="textover p1">即将直播</p>
											<p class="textover p2">即将直播房间</p>
											<p class="textover p3">节能环保</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="vdoimg">
										<img src="/static/images/phone/act_img1.png"/>
										<p class="vdo_btn"></p>
										<div class="vdo_nums">0.00万</div>
									</div>
									<div class="vdo_bot">
										<div class="vdo_bl">
											<img src="/static/images/phone/act_img2.png"/>
										</div>
										<div class="vdo_br">
											<p class="textover p1">即将直播</p>
											<p class="textover p2">即将直播房间</p>
											<p class="textover p3">节能环保</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="vdoimg">
										<img src="/static/images/phone/act_img1.png"/>
										<p class="vdo_btn"></p>
										<div class="vdo_nums">0.00万</div>
									</div>
									<div class="vdo_bot">
										<div class="vdo_bl">
											<img src="/static/images/phone/act_img2.png"/>
										</div>
										<div class="vdo_br">
											<p class="textover p1">即将直播</p>
											<p class="textover p2">即将直播房间</p>
											<p class="textover p3">节能环保</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="vdoimg">
										<img src="/static/images/phone/act_img1.png"/>
										<p class="vdo_btn"></p>
										<div class="vdo_nums">0.00万</div>
									</div>
									<div class="vdo_bot">
										<div class="vdo_bl">
											<img src="/static/images/phone/act_img2.png"/>
										</div>
										<div class="vdo_br">
											<p class="textover p1">即将直播</p>
											<p class="textover p2">即将直播房间</p>
											<p class="textover p3">节能环保</p>
										</div>
									</div>
								</a>
							</li>							
							<li>
								<a href="">
									<div class="vdoimg">
										<img src="/static/images/phone/act_img1.png"/>
										<p class="vdo_btn"></p>
										<div class="vdo_nums">0.00万</div>
									</div>
									<div class="vdo_bot">
										<div class="vdo_bl">
											<img src="/static/images/phone/act_img2.png"/>
										</div>
										<div class="vdo_br">
											<p class="textover p1">即将直播</p>
											<p class="textover p2">即将直播房间</p>
											<p class="textover p3">节能环保</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="vdoimg">
										<img src="/static/images/phone/act_img1.png"/>
										<p class="vdo_btn"></p>
										<div class="vdo_nums">0.00万</div>
									</div>
									<div class="vdo_bot">
										<div class="vdo_bl">
											<img src="/static/images/phone/act_img2.png"/>
										</div>
										<div class="vdo_br">
											<p class="textover p1">即将直播</p>
											<p class="textover p2">即将直播房间</p>
											<p class="textover p3">节能环保</p>
										</div>
									</div>
								</a>
							</li>							
						</ul>
					</div>
				</div>					
			</div>
			<div class="act_right">
				<div class="act_rcon">
					<p class="rtit">首推活动推荐排片表</p>
					<div class="ul_con">
						<div class="ul_ctop">
							<p class="p1">时间</p>
							<p class="p2 textover">内容（0000）</p>
							<p class="p3">发送时间</p>							
						</div>
						<ul class="acttime_list">
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>	
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>	
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>	
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>	
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>	
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>	
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>	
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>	
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>	
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>	
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>	
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>	
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>	
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>	
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>	
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>	
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>	
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>	
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>	
							<li>
								<a href="">
									<p class="p1">00：00</p>
									<p class="p2 textover">上交会展商视频</p>
									<p class="p3">00-00 00：00</p>									
								</a>
							</li>							
						</ul>						
					</div>
				</div>
				<!--广告位-->
				<div class="act_rbot">
					<ul>
						<li>
							<a href="">
								<img src="/static/images/page/img3.jpg"/>
							</a>
						</li>
						<li>
							<a href="">
								<img src="/static/images/page/img3.jpg"/>
							</a>
						</li>						
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="h140"></div>
{/block}

</body>
</html>
{block name="script"}
<script>




</script>
{/block}