{extend name="common@web/share/layout"}

{block name="title"}
展商信息
{/block}

{block name="content"}

<div class="h12"></div>

	<!-- 视频 -->
	<div class="vdo_top">
		<div class="vdo_con">
			<a class="vdo"></a>
			<video width="100%" height="100%">

			</video>
		</div>
	</div>

	<!-- 主体内容 -->
	<div class="page_main">
		<!-- 左侧 -->
		<div class="page_left">
			<!--左侧顶部-->
			<div class="vdo_ltop">
				<p class="vl_tit">所有商户</p>
				<div class="vl_slt">
					<p class="vl_p">展位号排序</p>
					<menu class="vl_key_hide">
						<a>排序一</a>
						<a>排序二</a>
						<a>排序三</a>
					</menu>
				</div>
				<div class="vl_sea">
					<input type="text" class="vlsea_txt" placeholder="输入产品/品牌名称" />
					<input type="submit" class="vlsea_sub">
				</div>
				<!--a标签上加上 sel变色-->
				<div class="vl_block"><a class="sel" href=""></a></div>
				<div class="vl_menu"><a href=""></a></div>
			</div>
			<!--列表-->
			<div class="vdo_ul">
				<ul>
					<li>
						<a href="">
							<div class="vdo_limg">
								<img src="images/index/vimg.jpg" >
							</div>
							<div class="vdo_cen">
								<p class="textover p1">展商名称</p>
								<p class="textover p2">展区：#####</p>
								<p class="textover p3">展位：###-###</p>
							</div>
							<div class="vdo_rmore">查看所有商品 ></div>
						</a>
					</li>
					<li>
						<a href="">
							<div class="vdo_limg">
								<img src="images/index/vimg.jpg" >
							</div>
							<div class="vdo_cen">
								<p class="textover p1">展商名称</p>
								<p class="textover p2">展区：#####</p>
								<p class="textover p3">展位：###-###</p>
							</div>
							<div class="vdo_rmore">查看所有商品 ></div>
						</a>
					</li>
					<li>
						<a href="">
							<div class="vdo_limg">
								<img src="images/index/vimg.jpg" >
							</div>
							<div class="vdo_cen">
								<p class="textover p1">展商名称</p>
								<p class="textover p2">展区：#####</p>
								<p class="textover p3">展位：###-###</p>
							</div>
							<div class="vdo_rmore">查看所有商品 ></div>
						</a>
					</li>
					<li>
						<a href="">
							<div class="vdo_limg">
								<img src="images/index/vimg.jpg" >
							</div>
							<div class="vdo_cen">
								<p class="textover p1">展商名称</p>
								<p class="textover p2">展区：#####</p>
								<p class="textover p3">展位：###-###</p>
							</div>
							<div class="vdo_rmore">查看所有商品 ></div>
						</a>
					</li>
					<li>
						<a href="">
							<div class="vdo_limg">
								<img src="images/index/vimg.jpg" >
							</div>
							<div class="vdo_cen">
								<p class="textover p1">展商名称</p>
								<p class="textover p2">展区：#####</p>
								<p class="textover p3">展位：###-###</p>
							</div>
							<div class="vdo_rmore">查看所有商品 ></div>
						</a>
					</li>
					<li>
						<a href="">
							<div class="vdo_limg">
								<img src="images/index/vimg.jpg" >
							</div>
							<div class="vdo_cen">
								<p class="textover p1">展商名称</p>
								<p class="textover p2">展区：#####</p>
								<p class="textover p3">展位：###-###</p>
							</div>
							<div class="vdo_rmore">查看所有商品 ></div>
						</a>
					</li>	
					<li>
						<a href="">
							<div class="vdo_limg">
								<img src="images/index/vimg.jpg" >
							</div>
							<div class="vdo_cen">
								<p class="textover p1">展商名称</p>
								<p class="textover p2">展区：#####</p>
								<p class="textover p3">展位：###-###</p>
							</div>
							<div class="vdo_rmore">查看所有商品 ></div>
						</a>
					</li>
					<li>
						<a href="">
							<div class="vdo_limg">
								<img src="images/index/vimg.jpg" >
							</div>
							<div class="vdo_cen">
								<p class="textover p1">展商名称</p>
								<p class="textover p2">展区：#####</p>
								<p class="textover p3">展位：###-###</p>
							</div>
							<div class="vdo_rmore">查看所有商品 ></div>
						</a>
					</li>
					<li>
						<a href="">
							<div class="vdo_limg">
								<img src="images/index/vimg.jpg" >
							</div>
							<div class="vdo_cen">
								<p class="textover p1">展商名称</p>
								<p class="textover p2">展区：#####</p>
								<p class="textover p3">展位：###-###</p>
							</div>
							<div class="vdo_rmore">查看所有商品 ></div>
						</a>
					</li>
					<li>
						<a href="">
							<div class="vdo_limg">
								<img src="images/index/vimg.jpg" >
							</div>
							<div class="vdo_cen">
								<p class="textover p1">展商名称</p>
								<p class="textover p2">展区：#####</p>
								<p class="textover p3">展位：###-###</p>
							</div>
							<div class="vdo_rmore">查看所有商品 ></div>
						</a>
					</li>					
				</ul>
			</div>
			<!-- PC页码 -->
			<div class="page_num">
				<a href="" class="disabled">首页</a>
				<a href="">1</a>
				<a href="">2</a>
				<span>...</span>
				<a href="">6</a>
				<a href="">尾页</a>
				<b class="num_b">跳转至</b>
				<input type="tel"  value="1" />
				<b>页</b>
				<b>共8页</b>	
			</div>
			<!--PH加载更多-->
			<div class="page_more"><a href="">加载更多</a></div>
		</div>
		<!-- 右侧 -->
		<div class="page_right">
			<div class="page_rtop">推荐展商</div>
			<ul class="rec_ul">
				<li>
					<a href="">
						<div class="rec_img">
							<img src="images/index/vimg.jpg"/>
						</div>
						<div class="rec_rcon">
							<p class="textover p1">展商名称</p>
							<p class="textover p2">展厅类 - 节能环保</p>
						</div>
					</a>
				</li>
				<li>
					<a href="">
						<div class="rec_img">
							<img src="images/index/vimg.jpg"/>
						</div>
						<div class="rec_rcon">
							<p class="textover p1">展商名称</p>
							<p class="textover p2">展厅类 - 节能环保</p>
						</div>
					</a>
				</li>
				<li>
					<a href="">
						<div class="rec_img">
							<img src="images/index/vimg.jpg"/>
						</div>
						<div class="rec_rcon">
							<p class="textover p1">展商名称</p>
							<p class="textover p2">展厅类 - 节能环保</p>
						</div>
					</a>
				</li>
				<li>
					<a href="">
						<div class="rec_img">
							<img src="images/index/vimg.jpg"/>
						</div>
						<div class="rec_rcon">
							<p class="textover p1">展商名称</p>
							<p class="textover p2">展厅类 - 节能环保</p>
						</div>
					</a>
				</li>
				<li>
					<a href="">
						<div class="rec_img">
							<img src="images/index/vimg.jpg"/>
						</div>
						<div class="rec_rcon">
							<p class="textover p1">展商名称</p>
							<p class="textover p2">展厅类 - 节能环保</p>
						</div>
					</a>
				</li>
				<li>
					<a href="">
						<div class="rec_img">
							<img src="images/index/vimg.jpg"/>
						</div>
						<div class="rec_rcon">
							<p class="textover p1">展商名称</p>
							<p class="textover p2">展厅类 - 节能环保</p>
						</div>
					</a>
				</li>
				<li>
					<a href="">
						<div class="rec_img">
							<img src="images/index/vimg.jpg"/>
						</div>
						<div class="rec_rcon">
							<p class="textover p1">展商名称</p>
							<p class="textover p2">展厅类 - 节能环保</p>
						</div>
					</a>
				</li>				
				<li>
					<a href="">
						<div class="rec_img">
							<img src="images/index/vimg.jpg"/>
						</div>
						<div class="rec_rcon">
							<p class="textover p1">展商名称</p>
							<p class="textover p2">展厅类 - 节能环保</p>
						</div>
					</a>
				</li>				
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div class="h140"></div>

{/block}

</body>
</html>

